
body{
    background-image: linear-gradient(to left,
        black, grey, black
    );
}

.colorMenu{
    background-image: linear-gradient(to left,
    black, grey, black
);
}

.imgKaty{
    position: absolute;
    left: 400px;
    top: 900px;
}

.redes{
    position: absolute;
    top:700px

}